agm-map {
  height: 80vh;
}

.gm-style div {
  background: red;
}

#floating-panel {
  position: absolute;
  top: 8.2rem;
  right: 5rem;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.chip-list {
  position: absolute;
  left: 20px;
  bottom: 15px;
  z-index: 99999;
}
