<div class="row mt-3">
  <div class="col-md-10">
    <mat-form-field class="full-width">
      <!-- <input matInput placeholder = "Search for place" #search> -->
      <mat-label>Search for your place of interest</mat-label>
      <input matInput type="text" [(ngModel)]="value" #search >
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <button mat-raised-button color="primary" (click)=onAddNewPlace($event)>
      <span>+ </span>
      Add place
    </button>
  </div>
</div>

<mat-chip-list>
  <mat-chip
    *ngFor="let place of selectedPlaces"
    color="accent"
    [removable]="true"
    selected
    class="mb-3"
  >
    {{place.name}}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
<!-- <mat-grid-list cols="2" rowHeight="6:1"> -->
  <!-- <mat-grid-tile [colspan]="1"> -->
    <!-- <mat-form-field class="full-width">
      <input matInput placeholder = "Search for place" #search>
    </mat-form-field> -->
  <!-- </mat-grid-tile> -->
  <!-- <mat-grid-tile [colspan]="1"> -->
    <!-- <button mat-raised-button color="primary" (click)=onAddNewPlace($event)>
      Add place
    </button> -->
  <!-- </mat-grid-tile>
</mat-grid-list> -->

<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  >
  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
</agm-map>
<!-- (dragEnd)="markerDragEnd($event)" -->
