<!-- <div class="row mt-3">
  <div class="col-md-10">
    <mat-form-field class="full-width">
      <mat-label>Search for your place of interest</mat-label>
      <input matInput type="text" [(ngModel)]="value" #search >
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <button mat-raised-button color="primary" (click)=onAddNewPlace($event)>
      <span>+ </span>
      Add place
    </button>
  </div>
</div> -->

<mat-chip-list class="chip-list">
  <mat-chip
    *ngFor="let place of selectedPlaces"
    color="accent"
    [removable]="true"
    selected
    class="mb-3"
  >
    {{place.name}}
    <mat-icon (click)="onRemovePlace(place.id)" matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
<!-- [agmFitBounds]="true" -->
<!-- <div id="floating-panel">
  <b>Travel type: </b>
  <select id="mode" (change)="onTravelTypeChange($event.target.value)">
    <option value="TRANSIT">Transit</option>
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
  </select>
</div> -->
<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [mapTypeControl]="true"
  [zoomControl]="true"
  [styles]="themeStyle"
  [fullscreenControl]="true"
  [fitBounds]="true"
  (mapClick)="setMapStateDefault($event)"
  (zoomChange)="onZoomChange($event)"
  class="map"
  >

  <agm-marker
    *ngFor="let place of selectedPlaces"
    [latitude]="place.lat"
    [longitude]="place.lng"
    [iconUrl]="{
      url: './assets/svg/map-icon-hearth.svg',
      labelOrigin: {x: 25,y: -10},
      zIndex: 0
    }"

    [label]="place.labelOptions"
  >
  <!-- [agmFitBounds]="selectedPlaces.length > 1 ? true : false" -->
  </agm-marker>
  <agm-marker-cluster [styles]="clusterStyles">
    <!-- imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m" -->
    <agm-marker
      *ngFor="let property of propertyList; index as i;"
      [latitude]="property.gpsCoord.lat"
      [longitude]="property.gpsCoord.lon"
      [iconUrl]="{
        url: './assets/svg/map-icon-home2.svg'
      }"
      [agmFitBounds]="true"
      (markerClick)="onMarkerClick(property)"
      (mouseClick)="onMouseClick(infoWindow, $event)"
      >
    >
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <div class="container-fluid info-window">
          <div class="row">
            <div *ngFor="let image of property.imageUrls; index as idx;">
              <div class="col-md-6" *ngIf="idx < 2">
                <img alt="photo" [src]="image" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>{{property.title}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4><strong>Type:</strong> {{property.offerType}}</h4>
            </div>
            <div class="col-md-6">
              <h4><strong>Area:</strong> {{property.livingArea}} m2</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4><strong>Price:</strong> {{property.price}} {{property.priceCurrency}} / {{property.priceType}}</h4>
            </div>
            <div class="col-md-6">
              <a [attr.href]="property.url" target="_blank">External link</a>
            </div>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-marker-cluster>
  <!-- <agm-info-window
      *ngIf="i===0"
      [isOpen]="true"
      [maxWidth]="133"
      disableAutoPan
    >
      <strong>Click to home</strong> in order to show travel time  to your points of interest!
    </agm-info-window> -->
  <!-- <div *ngIf="selectedPlaces?.length && selectedPlaces?.length">
    <agm-direction
      *ngFor="let route of selectedRoutes"
      [origin]="route.origin"
      [destination]="route.destination"
      [renderOptions]="renderOptions1"
      [travelMode]="selectedTravelType || defaultTravelType"
    ></agm-direction>
  </div> -->
</agm-map>
<!-- [waypoints]="waypoints" -->
