/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap-grid.min.css';
// required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "bootstrap/scss/utilities/_spacing.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // padding: 1.5rem;
}

.full-width {
  width: 100%;
}
